:root {
  --main-bg-color: #f9f9f5;
  --nav-bg-color: #f9f9f5;
  --nav-slider-bg-color: antiquewhite;
  --primary-font: Franklin Gothic Medium;
  --task-font-size: 20px;
  --grid-cols: 1;
  --grid-rows: 1;
}

header {
  text-align: center;
}

.hidden {
  visibility: hidden;
  width: 0;
  height: 0;
}

body {
  background-color: var(--main-bg-color);
  font-family: Candara;
}

#container {
  display: grid;
  grid-gap: 0em;
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  grid-template-columns: repeat(var(--grid-cols), 1fr);
  min-height: 0; /* NEW */
  min-width: 0; /* NEW; needed for Firefox */
}

.childgrid-item {
  padding: 1em;
  justify-content: start;
  padding: 0;
  margin: 3px;
  width: 100%;
  white-space: nowrap;
  overflow: visible; /* NEW */
  min-width: 0; /* NEW; needed for Firefox */
}

.delete {
  background-color: #f9f9f5;
  border: 1px solid gray;
  border-radius: 2px;
}

/*
USE THIS TO APPEND TASKS TO CORRECT ROW / COLUMN
.item {
  grid-column-start: <number> | <name> | span <number> | span <name> | auto;
  grid-column-end: <number> | <name> | span <number> | span <name> | auto;
  grid-row-start: <number> | <name> | span <number> | span <name> | auto;
  grid-row-end: <number> | <name> | span <number> | span <name> | auto;
}
*/

h1 {
  margin: 5% 0 1% 0;
}

input[type="text"] {
  background: transparent;
  border: none;
  width: 100%;
  margin-top: 3px;
  font-size: 16px;
  font-family: var(--primary-font);
}

input[type="text"]:focus {
  outline: none;
}

.cursor {
  position: relative;
}
.cursor i {
  position: absolute;
  width: 1px;
  height: 80%;
  background-color: gray;
  left: 5px;
  top: 10%;
  animation-name: blink;
  animation-duration: 800ms;
  animation-iteration-count: infinite;
  opacity: 1;
}

nav {
  position: fixed;
  left: -16em;
  top: 0;
  bottom: 0;
  background-color: var(--nav-bg-color);
  border-right: 130px solid var(--nav-bg-color);
  z-index: 1;
  cursor: pointer;
}

nav:after {
  position: absolute;
  content: " ";
  width: 0;
  height: 0;
  right: -170px;
  top: 20%;
  border-width: 25px 20px;
  border-style: solid;
  border-color: transparent transparent transparent black;
}

nav ul {
  width: 14em;
  list-style-type: none;
  margin: 0;
  padding: 1em;
  text-align: center;
}

nav a:link,
nav a:visited {
  display: block;
  width: 100%;
  font-weight: bold;
  line-height: 2.5em;
  text-indent: 10px;
  text-decoration: none;
  color: black;
  border-radius: 4px;
  outline: 0 none;
}

nav a:hover,
nav a:focus {
  color: black;
  background-color: darken(#bada55, 20%);
  text-shadow: 0 0 1px rgb(253, 249, 249);
  box-shadow: 1px 0 1px 1px rgba(0, 0, 0, 0.2);
}

/* hovering */
article,
article:after,
nav,
nav * {
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

nav:hover {
  left: 0;
}

nav:hover ~ article {
  -webkit-transform: translateX(16em) perspective(600px) rotateY(10deg);
  -moz-transform: translateX(16em) perspective(600px) rotateY(10deg);
  -ms-transform: translateX(16em) perspective(600px) rotateY(10deg);
  -o-transform: translateX(16em) perspective(600px) rotateY(10deg);
  transform: translateX(16em) perspective(600px) rotateY(10deg);
}

nav:hover ~ article:after {
  left: 60%;
}

.cursor input:focus + i {
  display: none;
}

@keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/*  CHECKBOX STYLES */
